*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
  }

  :root{
    font-size: 62.5%;

    --ff-title: 'Staatliches','cursive';
    --ff-header: 'Roboto', sans-serif;
    --ff-footer: 'Open Sans', sans-serif;


  }
  body{
    font-size: 1.6rem;
    display: grid;
    grid-template-areas:
    "header main"
    "header footer";
    grid-template-columns: 37.7rem auto;
    grid-template-rows: auto 4.6rem;


  }

  header{
    height: 100%;
    grid-area: header;
    background: #8E9AAF;


  }
  header h1{
    background: #CBC0D3;
    font-family: 'Staatliches';
    animation: topdown 1s;

    display: flex;
    flex-direction: column;
    font-size: 4.8rem;
    line-height: 3.4rem;
    padding: 2.1rem 7.3rem ;
    color: #FFFFFF;
    align-items: center;

    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  }
  header p{
    font-family: var(--ff-header);
    font-size: 1.6rem;
    line-height: 2rem;
    animation-name: updown;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    align-items: center;
    text-align: center;

    color: white;

    padding: 5.2rem 4.8rem 12.5rem 5.4rem;

   
  }

  #logo{
    padding: 3.2rem 8.1rem;

   }

  main{
  
    grid-area: main;
    background: #FFFFFF;
    margin: auto;
    
  }

  .container-grid{
    display: grid;

    grid-template-areas: 
    "par1 par2 par3";
    column-gap: 3.2rem;
    margin: auto 3.2rem;

    


  }

  .card{
    max-width: 22rem;
 
  }
  .card img {
    max-width: 100%;
    animation-name: topdown;
    animation-duration: 2s;
       
  }
  .card img:hover{
    opacity: 50%;
    
  }

  .par-2 :nth-child(1) img{
    margin-bottom: 3.2rem;

  }
 

  footer{
    grid-area: footer;

    font-family: var(--ff-footer);
    font-size: 1.4rem;
    line-height: 2.8rem;
    text-align: center;

    color: #4a4e69;

    background-color: rgb(255, 255, 255);

    
  }
  footer a{
    font-weight: 700;
    font-size: var(--ff-footer);
  }
  footer a:hover{
    color: #9ea8f5;
  }

  @keyframes topdown{
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 2;
      transform: translateY(0);
    }
  }

  @keyframes updown {
    0%{
      opacity: 0;
      transform: translateY(-20px);

    }
    99%{
      opacity: 1;
      transform: translateY(0);
    }
  }
    
